@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
}
body, div, h1, h2, h3, p, a, ul, li, span, ol, section, i, b, button {
	font-family: 'Roboto', sans-serif;
	
}

.top-header {
	height: 90px;
	background-color: #50B86D;
	box-shadow: 0px 4px 30px rgba(83, 225, 123, 0.84);
	border-radius:  0px 0px 7px 7px;
	
}

.logo{
	
}
.menu {
	display: flex;
	list-style-type: none;
	margin-left: auto;
	margin-top: 30px;
	

}

.menu li a {
	color: #000;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.125em;

	
}

.menu li {
	margin-right: 40px;
}
.row{
	display: flex;
}
#left-content {
	padding: 45px 45px 0px 45px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.col-6{
	margin-top: 91px;
}
h1 {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	
}
h1 > span {
	font-weight: 500;
}

p {
	font-size: 15px;
	padding: 40px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.125em;

}
button  {
	font-family: 'Roboto', sans-serif ;
	width: 379px;
	height: 71px;
	background: rgba(93, 219, 128, 1) ;
	border-radius: 7px;
	box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.25);
	color: #fff;
	letter-spacing: 0.335em;
	font-weight: bold;
	margin: 0 auto;
}

button:hover{
	background-color: #fff;
	color:  rgba(93, 219, 128, 1) ;
}

button:active,button:focus {
	outline: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(93, 219, 128, 1);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
	height: 400px;
	
}

.modalcon{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.offer2{
	font-weight: 700 !important;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
	margin-left: auto;
	margin-top: -10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.carousel{
	padding: 15px;
	background-color: #FFF;
	border-radius: 7px;
	box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.25);
	

}


@media (max-width: 768px) {
	.menu{
		display: none;
	}
	#left-content{
		padding: 20px 10px;
	}
	button{
		width: 279px;
		height: 41px;
		font-size: 16px;
	}
	p{
		padding: 10px;
	}
}
@media (min-width: 992px) {
	p{
		padding: 0px;
	}
}
@media (min-width: 1200px) {
	p{
		padding: 45px;
	}
}