@charset "UTF-8";
/* CSS Document */

body, div, h1, h2, h3, p, a, ul, li, span, ol, section, i, b, button {
	font-family: 'Lato', sans-serif;
}
.container {
	padding: 150px 0px;
}
#result {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}

p{
	font-size: 15px;
	font-weight: 400;
	
	text-align: left;
	padding-top: 10px;
}
.convertor select {
	margin-top: -14px;
}
.input-group {
	padding: 15px 0px;

}
.convertor {
	width: 400px;
	height: 440px;
	padding: 30px;
	border-radius: 7px;
	box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.25);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

